@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Header {
  height: 100px;
  background-color: #183457;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  font-size: 24px;
  font-family: "Poppins";
  color: white;
  font-weight: 200;
}

.Header h1 a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 1280px) {
  .Header h1 {
    font-size: 14px;
  }
}

.scroll-top-faq {
  background-color: #183457ce;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  padding: 11px 14px 5px 14px;
  border-radius: 50%;
}

.search-container_FAQ {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#search-input_FAQ {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Poppins";
}
#search-input_FAQ:focus {
  outline: none;
  border-color: #183457;
}

/* Accordion Styles **********************************************************************************************************************************************************************************************************************************/

.accordion_FAQ {
  width: 70%;
  margin: 0 15%;
  padding-bottom: 40px;
}

.section-title_FAQ {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Playfair Display";
}

.accordion__header_FAQ {
  padding: 8px 20px;
  margin-top: 2px;
  display: flex;
  background-color: #f5f2ee;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "poppins";
  border-radius: 7px 7px 0px 0px;
}

.accordion__header_FAQ > * {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 16px;
}
.accordion__header_FAQ.is-active {
  background-color: #f0e4d6 !important;
}
.accordion__header_FAQ h2 {
  width: 90%;
  font-weight: 300;
}
.accordion__toggle_FAQ {
  margin-left: 10px;
  height: 3px;
  background-color: #222;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
}

.accordion__toggle_FAQ::before {
  content: "";
  width: 3px;
  height: 13px;
  display: block;
  background-color: #17153b;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px;
}

.is-active .accordion__toggle_FAQ {
  background-color: #000;
}
.is-active .accordion__toggle_FAQ::before {
  display: none;
}

.accordion__body_FAQ {
  display: none;
  padding: 1em;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0px 0px 7px 7px;
  letter-spacing: 0.1px;
}

.accordion__body_FAQ p {
  font-size: 14px;
  font-family: "poppins";
}
.accordion__body_FAQ.is-active {
  display: block;
}

/* Product Related Questions ***********************************************************************************************************************************************************************************************************************************/

.product-related-questions {
  width: 70%;
  margin: 0 15%;
  padding-bottom: 40px;
}

.sections-links-btn-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: #f5f2ee;
}

.sections-links-btn {
  width: 220px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #eee9e3;
  background-color: #eee9e3;
  overflow: hidden;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: black;
}

.sections-links-btn img {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}

.sections-links-btn .external-link-icon {
  width: 15px;
  height: 10px;
  padding-right: 5px;
  background-color: #00000000;
}

/* FAQ Form Header ***********************************************************************************************************************************************************************************************************************************/

.faq-form-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.faq-form-header {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}

/*  OPEN CONTACT FORM */
.faq-open-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #183457;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.faq-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.faq-modal-content {
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.faq-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.FAQ_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #183457;
  padding: 50px 0px;
  border-radius: 15px;
}

.FAQ_Form h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 40px;
}

.FAQ_Form form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

form label {
  color: white;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

form input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
  background-color: #183457;
  outline: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

.phn-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phn-code {
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 8px;
  background-color: #ffffff;
  font-size: 14px;
  border-radius: 5px;
}

#telNo {
  width: 100%;
  height: 30px;
  justify-content: center;
  justify-self: center;
}

form textarea {
  height: 40px;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  background-color: #183457;
  outline: none;
  color: white;
  font-family: "Poppins", sans-serif;
  height: 50px;
  margin-top: 5px;
}

.faq-submit-btn {
  background-color: #ffffff;
  color: #183457;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 55px;
}

/* Media Queries ***********************************************************************************************************************************************************************************************************************************/

@media screen and (max-width: 768px) {
  .search-container_FAQ {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #search-input_FAQ {
    width: 90%;
    font-size: 14px;
  }
  .accordion_FAQ {
    width: 90%;
    margin: 0 5%;
  }

  .accordion__header_FAQ > * {
    font-size: 14px;
  }

  .accordion__body_FAQ p {
    font-size: 12px;
  }

  /* Product Related Questions ***********************************************************************************************************************************************************************************************************************************/

  .product-related-questions {
    width: 90%;
    margin: 0 5%;
  }

  .sections-links-btn-div {
    gap: 5px;
  }

  .sections-links-btn {
    width: 190px;
    font-size: 12px;
    gap: 5px;
  }
  .faq-modal-content {
    width: 90%;
  }

  .faq-form-header {
    width: 90%;
  }

  .FAQ_Form h1 {
    width: 80%;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
  .Uniq-FAQ_Form {
    width: 100%;
    margin-bottom: 60px;
  }
  .FAQ_Form form {
    width: 100%;
    padding: 10% 5% 5% 5%;
  }
  .sections-links-btn-div {
    width: 100%;
  }
}

@media screen and (min-width: 381px) and (max-width: 768px) {
  .sections-links-btn-div {
    justify-content: space-around;
  }
  .sections-links-btn {
    width: 160px;
    font-size: 12px;
    gap: 5px;
  }
}

@media screen and (max-width: 380px) {
  .sections-links-btn-div {
    justify-content: space-around;
  }
  .sections-links-btn {
    width: 150px;
    font-size: 12px;
    gap: 5px;
  }
}
