@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  height: 100px;
  background-color: #183457;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header h1 {
  font-size: 24px;
  font-family: "Poppins";
  color: white;
  font-weight: 200;
}

@media screen and (max-width: 1280px) {
  .Header h1 {
    font-size: 14px;
  }
}

.search-container_FAQ {
  margin: 20px 0px;
  text-align: center;
  margin-bottom: 30px;
}

#search-input_FAQ {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Poppins";
}

.sections-links-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.sections-links-btn-div {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.link-div {
  width: 200px;
  height: 50px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #183457;
  border-radius: 5px;
  cursor: pointer;
}

.link-div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  font-family: "Poppins";
}

.accordion_FAQ {
  width: 70%;
  margin: 0 15%;
  padding-bottom: 80px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Playfair Display";
}

.accordion__header_FAQ {
  padding: 1em;
  margin-top: 2px;
  display: flex;
  background-color: #f5f2ee;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "poppins";
  border-radius: 7px 7px 0px 0px;
}

.accordion__header_FAQ > * {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 16px;
}
.accordion__header_FAQ.is-active {
  background-color: #eee9e3 !important;
}
.accordion__header_FAQ h2 {
  width: 90%;
  font-weight: 300;
}
.accordion__toggle_FAQ {
  margin-left: 10px;
  height: 3px;
  background-color: #222;
  width: 13px;
  display: block;
  position: relative;
  flex-shrink: 1;
  border-radius: 2px;
}

.accordion__toggle_FAQ::before {
  content: "";
  width: 3px;
  height: 13px;
  display: block;
  background-color: #17153b;
  position: absolute;
  top: -5px;
  left: 5px;
  border-radius: 2px;
}

.is-active .accordion__toggle_FAQ {
  background-color: #000;
}
.is-active .accordion__toggle_FAQ::before {
  display: none;
}
@media only screen and (max-width: 768px) {
  .accordion_FAQ {
    width: 90%;
    margin: 0 5%;
  }
}

.accordion__body_FAQ {
  display: none;
  padding: 1em;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0px 0px 7px 7px;
  letter-spacing: 0.1px;
}

.accordion__body_FAQ p {
  font-size: 14px;
  font-family: "poppins";
}
.accordion__body_FAQ.is-active {
  display: block;
}

.FAQ_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FAQ_Form h1 {
  font-size: 24px;
  text-align: center;
}

.FAQ_Form form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2% 5%;
  background-color: #f5f2ee;
  border-radius: 15px;
}

form label {
  margin-bottom: 10px;
}

form input {
  margin-bottom: 15px;
  border: none;
  outline: none;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
}

.phn-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phn-code {
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 8px;
  background-color: #eee9e3;
  font-size: 14px;
  border-radius: 5px;
}

#telNo {
  width: 100%;
  height: 30px;
  justify-content: center;
  justify-self: center;
}

form textarea {
  outline: none;
  border: none;
  margin-bottom: 20px;
  height: 150px;
  padding-left: 10px;
}

.faq-submit-btn {
  outline: none;
  border: none;
  background-color: #183457;
  height: 40px;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 768px) {
  .FAQ_Form h1 {
    width: 80%;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
  .FAQ_Form form {
    width: 85%;
  }
  .sections-links-btn-div {
    width: 100%;
  }
  .link-div {
    width: 150px;
    height: 40px;
    margin: 5px 5px;
  }
}
